* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
:root {
    --cor-laranja: #F9A825;
    --cor-preta: #212121;
    --cor-azul: #0000FF;
    --cor-branca: #FFFFFF;
}
html {
    font-family: helvetica, arial, sans-serif;
}
/*Configurações do header*/
.flex {
    display: flex;
}
a {
    color: var(--cor-branca);
    text-decoration: none;
}
header {
    height: 40px;
    background-color: var(--cor-preta);
    align-items: center;
    justify-content: center;
}
header div {
    color: var(--cor-branca);
}
#div-menu {
    color: var(--cor-branca);
    justify-content: space-between;
    width: 80%;
}
#logo {
    align-items: center;
} 
#nav-menu {
    display: flex;
    justify-content: flex-end;
    width: 200px;
}
#ul-menu {
    display: flex; 
    list-style: none;
}
#ul-menu li {
    border-radius: 50px;
    padding: 5px 20px;
}
.li-hover:hover {
    background-color: var(--cor-laranja);      
}
/*Configurações do main*/
main {
    align-items: center;
    justify-content: center;
    height: calc(100vh - 120px);
}
#main-div {
    align-items: center;
    border: 1px solid var(--cor-azul);
    flex-direction: column;
    font-size: 14px;
    height: 60%;
    justify-content: space-around;
    padding: 10px;
    width: 80%;
}
#text-article {
    align-items: center;
    border-bottom: 2px dotted var(--cor-preta);
    flex-grow: 1;
    justify-content: center;
}
#text-article > p {
    text-align: left;
    width: 50%;
}
#main-form {
    flex-direction: column;
    flex-grow: 1;
    margin-top: 15px;    
}
#main-fieldset {
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
}
#form-email {
    border: 1px solid var(--cor-preta);
    border-radius: 5px;
    padding: 5px;
}
#form-button {
    align-self: center;
    background-color: var(--cor-preta);
    color: var(--cor-branca);
    cursor: pointer;
    padding: 5px;
    width: 100px;
}
#form-button:hover {
    background-color: var(--cor-laranja);
}
footer {
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-preta);
    color: var(--cor-branca);
    bottom: 0;
    position: fixed;
}
/*Configuração display main email*/
@media screen and (min-width: 768px) {
    #nav-menu {
        justify-content: space-around;
    }
    #ul-menu {
        display: flex;
    }
    #main-div {
        flex-direction: row;
        padding: 0;
    }
    #main-form {
        height: 60%;
        justify-content: space-evenly;
        align-items: center;
        margin-left: 15px;
        margin-top: 0;
    }
    #text-article {
        font-size: 16px;
        height: 80%;
        justify-content: center;
        border-right: 2px dotted black ;
        border-bottom: none;
    }
    #text-article > p {
        width: 250px;
    }
}